<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Рейтинг</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app">
      <h1>{{rating}}</h1>
      <input type="range" v-model="rating" min="1" max="7">
      <br>
      <div class="star" v-for="rate in rating">
      </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js">

    </script>
    <script src="script.js">

    </script>
  </body>
</html>
